@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-base: #2B9C7F;
  --color-base-gray: #D9D9D9;
  --color-image: url(../../assets/graph.png);
  --animate-upDown: upDown 10s ease-in-out infinite alternate;
  --animate-upDown2: upDown2 10s ease-in-out infinite alternate;

  @keyframes upDown {
     0%{
      scale: 0.7;
      position: absolute;
      top: 100%;
      transform: translateY(-130%)
     }
     100%{
      scale: 1;
      position: absolute;
      top: 0%;
     }
  }

  @keyframes upDown2 {
    0%{
      scale: 0.8;
      position: absolute;
      bottom: 100%;
      transform: translateY(110%)
    }
    100%{
      scale: 1;
      position: absolute;
      bottom: 0%;
    }
  }

  
}


  * {
    font-family: "Poppins", sans-serif;
  }

  .Irish {
    font-family: "Irish Grover", system-ui;
  }

  .active {
    color: #2B9C7F;
  }

  :hover.project .info{
    height: 100%;
    opacity: 1;

  }
  :hover.project .title{
 
    opacity: 0;

  }
